#footer_index {
    margin-top: 44px;
}

#footer_index h2,#footer_index h2 a {
color:#7D7D7D;
display:block;
font-size:14px;
font-weight:700;
line-height:11px;
text-decoration:none;
margin:5px 0;
padding:0 0 3px;
}

#footer_index h2:hover {
color:#433737;
}

#footer_index li {
color:#7D7D7D;
display:block;
font-size:10px;
line-height:11px;
padding:0 0 3px;
}

#footer_index li a {
color:#7D7D7D;
text-decoration:none;
}

#footer_index_row1 {
background:url(../images/bg_footer_row1.jpg) repeat-x scroll 0 0 transparent;
min-height:240px;
width:960px;
padding-bottom:10px;
margin:0 auto;
}

#footer_index_row2 {
min-height:177px;
width:956px;
margin:0 auto;
}

#display_i_want_to,#display_help_and_suport,#display_e_service,#display_contact_with_ais,.display_list_footer {
display:inline-block;
float:left;
}

#display_help_and_suport,#display_e_service,#display_contact_with_ais {
margin-left:60px;
}

#footer_tab {
padding:22px 0 10px;
}

#footer_share {
float:right;
width:270px;
}

#footer_share_facebook {
background:url(../images/icon-share.jpg) no-repeat scroll -7px -4px transparent;
width:27px;
height:34px;
float:left;
margin-left:20px;
}

#footer_share_facebook a {
display:block;
width:27px;
height:24px;
}

#footer_share_twitter {
background:url(../images/icon-share.jpg) no-repeat scroll -45px -4px transparent;
width:26px;
height:37px;
float:left;
margin-left:10px;
}

#footer_share_googleplus {
background:url(../images/icon-share.jpg) no-repeat scroll -78px -4px transparent;
width:32px;
height:37px;
float:left;
margin-left:10px;
}

#copyright {
color:#777777;
font-weight: bold;
float:left;
margin-top:140px;
}

#term_and_condition {
color:#FFF;
float:right;
margin-top:140px;
}

.clearboth,.clearfix {
clear:both;
}

.right {
float:right;
}

.loading {
display:block;
width:35px;
margin:0 auto;
}

#footer_shortcut,#footer_sitemap {
color:#CFCFCF;
font-size:15px;
line-height:30px;
font-weight:700;
float:left;
cursor:pointer;
}

#nav1 nav li.list_nav1 a:hover,#nav1 nav li.list_nav1-3 a:hover,#nav1_active nav li a,#nav1 nav li.list_nav1-2 a:hover,.list_nav2 a:hover {
color:#92b84a;
text-decoration:none;
}

#footer_index ul,.banner-left-visiting ul {
margin:0;
padding:0;
}

#footer_index li:hover,#footer_index li a:hover,#footer_shortcut:hover,#footer_sitemap:hover,.footer_shortcut_active {
color:#433737!important;
}

#text_shortcut,#text_sitemap,.banner_left_menu {
cursor:pointer;
}

#footer_share_twitter a,#footer_share_youtube a {
display:block;
width:26px;
height:24px;
}

#footer_share_googleplus a {
display: block;
width: 34px;
height: 24px;
}

.hidden,#display_footer_sitemap {
display:none;
}

.list_nav2,.list_nav3_last,.list_tab {
list-style:none;
float:left;
}


/*////////////////e-news-subscribe//////////////*/

#footer_share .left {
width: 170px;
float:left;
position: relative;
}

#e_news_subscribe {
background:url(../images/bg_input_type_text.jpg) repeat-x scroll 0 0 transparent;
border:medium none;
color:#C1C1C1;
float:left;
height:23px;
width:120px;
padding:2px;
width: 135px;
 line-height: 23px;
}

#text_behind_subscribe {
color: #C4C4C4;
left: 3px;
position: absolute;
top: 4px;
z-index: 30;
}

#btn_subscribe {
float:left;
cursor:pointer;
background:url(../images/btn_subscribe_submit.jpg) no-repeat scroll 0 0 transparent;
width: 27px;
height: 25px;
text-indent: -9999px;
}

#display_email_subscript {
margin-left:-9px;
}
/*////////////////END e-news-subscribe//////////////*/


#wp-footer {
background: url(../images/bg-kanok-footer.jpg) right bottom no-repeat;
position: relative;
width: 990px;
margin: 0 auto;
}


#service_by {
    color: #CFCFCF;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: -30px;
    right: 15px;
}

#service_by a {
    color: #CFCFCF;
    text-decoration: none;
}

