h1{font-size:138.5%;}
h2{font-size:123.1%;}
h3{font-size:108%;}
h1,h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
em{font-style:italic;}
blockquote,ul,ol,dl{margin:1em;}
ol,ul,dl{margin-left:2em;}
ol li{list-style:decimal outside;}
ul li{list-style:disc outside;}
dl dd{margin-left:1em;}
th,td{border:1px solid #000;padding:.5em;}
th{font-weight:bold;text-align:center;}
caption{margin-bottom:.5em;text-align:center;}
p,fieldset,table{margin-bottom:1em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
body{line-height:1;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}
nav ul{list-style:none;}
ol{list-style:decimal;}
ul{list-style:disc;}
ul ul{list-style:circle;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{text-decoration:underline;}
del{text-decoration:line-through;}
mark{background:none;}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input[type="submit"],input[type="button"],button{padding:0 !important;margin:0 !important;}
input,select,a img{vertical-align:middle;}
html,body{background-color:#FFFFFF;color:##423436;font-size:12px;font-family:Arial, Tahoma;}
.clear{clear:both;}
.wp-relative{position:relative;}
.indent{text-indent:-9999px;}
#nav1{background-color:#F2F2F2;position:fixed;width:100%;height:38px;z-index:999;}#nav1 nav{display:block;margin-left:auto;margin-right:auto;width:960px;}#nav1 nav #nav1_ul{margin:0 auto;padding-left:160px;}#nav1 nav #nav1_ul li{float:left;font-weight:700;text-align:center;list-style:none;}#nav1 nav #nav1_ul li.list_nav1 a{color:#6f6566;display:block;height:23px;padding-top:15px;text-decoration:none;width:90px;}
#nav1 nav #nav1_ul li.active a{background:url(../images/bg_nav1_hover.png) repeat-x scroll 0 0 transparent;color:#92b84a;text-decoration:none;}
#nav1 nav #nav1_ul li.list_nav1-2{margin-right:20px;margin-left:3px;}#nav1 nav #nav1_ul li.list_nav1-2 a{color:#6f6566;display:block;height:23px;padding-top:15px;text-decoration:none;width:120px;}
#nav1 nav #nav1_ul li.list_nav1-3{margin:0 10px;}#nav1 nav #nav1_ul li.list_nav1-3 a{color:#6f6566;display:block;height:23px;padding-top:15px;text-decoration:none;width:80px;}
#nav1 nav #display_search{float:right;margin-top:8px;position:relative;}
#nav1 nav #search_nav1{border:1px solid #C6C6C6;float:left;height:21px;width:161px;color:#C9C9C9;}
#nav1 nav .search_label{position:absolute;left:5px;top:6px;pointer-events:none;}
#nav1 nav #globalsearch{border:1px solid #E8E8E8;float:left;height:21px;}
#nav1 nav #btn_search_nav1{border:none;background:url(../images/btn_search_nav1.png);height:25px;width:25px;float:left;}
#body{overflow:hidden;min-height:500px;width:960px;display:block;margin-left:auto;margin-right:auto;}
#rom-header{padding-top:88px;}#rom-header .header-left{width:241px;float:left;}#rom-header .header-left #site-logo{margin-top:-7px;}
#rom-header .header-left #site-adv{margin-top:18px;}
#rom-header .header-right{width:679px;float:right;}#rom-header .header-right #site-menu{width:679px;}#rom-header .header-right #site-menu ul{overflow:hidden;padding:0;margin:0;}#rom-header .header-right #site-menu ul li{list-style:none;float:left;}
#rom-header .header-right #site-menu a{background:url(../images/site-menu.png) 0 0 no-repeat;display:block;height:42px;text-indent:-9999px;}#rom-header .header-right #site-menu a.menu-1{width:263px;}#rom-header .header-right #site-menu a.menu-1:hover,#rom-header .header-right #site-menu a.menu-1.active{background-position:0 -42px;}
#rom-header .header-right #site-menu a.menu-2{width:310px;background-position:-263px 0;}#rom-header .header-right #site-menu a.menu-2:hover,#rom-header .header-right #site-menu a.menu-2.active{background-position:-263px -84px;}
#rom-header .header-right #site-menu a.menu-3{width:106px;background-position:-573px 0;}#rom-header .header-right #site-menu a.menu-3:hover,#rom-header .header-right #site-menu a.menu-3.active{background-position:-573px -126px;}
#rom-header .header-right #site-banner{background:url(../images/banner-border.png) 0 0;width:679px;height:307px;margin-top:21px;}
#rom-container{margin-top:38px;}#rom-container #GuestLeftContainer{width:240px;float:left;}#rom-container #GuestLeftContainer .contact-box{margin-top:20px;}
#rom-container #GuestRightContainer{width:680px;float:right;}#rom-container #GuestRightContainer .login-form{background:url(../images/login-form-container.png) 0 0 no-repeat;width:679px;height:208px;position:relative;}#rom-container #GuestRightContainer .login-form .login-inner{background:url(../images/login-form-inner.png) 0 0 no-repeat;width:389px;height:185px;position:absolute;right:12px;top:12px;padding-left:23px;}#rom-container #GuestRightContainer .login-form .login-inner .typo-1{background:url(../images/typo/typo_2.png) 0 0 no-repeat;width:195px;height:18px;display:block;margin-top:20px;}
#rom-container #GuestRightContainer .login-form .login-inner .typo-2{background:url(../images/typo/typo_3.png) 0 0 no-repeat;width:324px;height:13px;display:block;}
#rom-container #GuestRightContainer .login-form .login-inner .typo-3{background:url(../images/typo/typo_4.png) 0 0 no-repeat;width:49px;height:14px;display:block;margin-top:15px;}
#rom-container #GuestRightContainer .login-form .login-inner .input-form{background:url(../images/login-form-box.png) 0 0 no-repeat;width:174px;height:31px;display:inline-block;margin:8px 0;position:relative;}#rom-container #GuestRightContainer .login-form .login-inner .input-form input[type=text]{font-family:Tahoma;border:0;position:absolute;top:4px;left:5px;}
#rom-container #GuestRightContainer .login-form .login-inner .button-otp{background:url(../images/button-otp.png) 0 0 no-repeat;width:93px;height:31px;display:inline-block;margin:8px 0;cursor:pointer;}
#rom-container #GuestRightContainer .login-form .login-inner .button-submit{background:url(../images/button-login.png) 0 0 no-repeat;width:93px;height:31px;display:inline-block;margin:8px 0;cursor:pointer;}
#rom-container #GuestRightContainer .login-form .login-inner .button-cancel{background:url(../images/button-cancel.png) 0 0 no-repeat;width:93px;height:31px;display:inline-block;margin:8px 0;cursor:pointer;}
#rom-container #GuestRightContainer .content{background:url(../images/home-news-box.png) 0 0 no-repeat;width:680px;height:218px;margin-top:18px;overflow:hidden;}#rom-container #GuestRightContainer .content .vdo-wrapper{float:left;width:258px;height:215px;}#rom-container #GuestRightContainer .content .vdo-wrapper .vdo-player{background:url(../images/box-vdo.png) 0 0 no-repeat;width:217px;height:139px;margin:16px 0 0 21px;}
#rom-container #GuestRightContainer .content .vdo-wrapper .typo-4{background:url(../images/typo/typo_5.png) 0 0 no-repeat;width:160px;height:16px;display:inline-block;margin:23px 0 0 25px;}
#rom-container #GuestRightContainer .content .news-wrapper{width:420px;height:215px;float:left;}#rom-container #GuestRightContainer .content .news-wrapper .item{background:url(../images/news-border.png) center bottom no-repeat;width:377px;height:93px;display:block;margin-left:auto;margin-right:auto;}#rom-container #GuestRightContainer .content .news-wrapper .item.noborder{background:none;}
